---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --ocean-green: #7acc9e;
  --tropical-orange: #fe6f4f;
  --fade-in: opacity 250ms;
}

h1,
h2,
h3 {
  font-family: "Pacifico", "Lato", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
}

.page-header {
  background-color: var(--ocean-green);
  background-image: none;
}

h2 .project-tagline {
  font-size: 1.1rem;
}

.project-tagline {
  font-size: 1.5em;
}
