---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css");

body {
  font-family: "Lato", sans-serif;
}

pre {
  font-family: "Fira Code", monospace;
}

.contact-info {
  margin-bottom: 0;
  text-align: center;
}
