---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --ocean-green: #7acc9e;
  --tropical-orange: #fe6f4f;
  --fade-in: opacity 250ms;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: var(--ocean-green);
  padding: 10px;
  border-radius: 5px;
}

pre {
  font-family: "Fira Code", monospace;
}

.contact-info {
  text-align: center;
  margin-bottom: 0;
}

.logo {
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h2,
h4,
h6 {
  color: var(--ocean-green);
}

h1,
h3,
h5 {
  color: var(--tropical-orange);
}

.description {
  color: white;
  text-align: center;
}

a i {
  text-align: center;
  color: white;
  opacity: 0.5;
  transition: var(--fade-in);
}

a:hover {
  font-weight: normal;
}

a i:hover {
  opacity: 1;
}

.tools-row {
  width: 2.5rem;
  color: black;
}

.right-align {
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  text-align: right;
}

.right-align a {
  opacity: 0.5;
  color: var(--ocean-green);
  transition: var(--fade-in);
}

.right-align a:hover {
  font-weight: 400;
  opacity: 1;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

p a i {
  color: var(--tropical-orange);
  opacity: 0.5;
  transition: var(--fade-in);
}

p i a:hover {
  font-weight: normal;
}
