<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <img class="logo" src="/assets/graphics/logo.svg">
      <h1 class="project-name">Programmer</h1>
      <nav class="navigation">
        <section class="top-item">
            <a href="/">
                <i class="ri-braces-fill"></i><br>
                Projects
            </a>
          </section>
          <section class="top-item">
            <a href="/about/">
                <i class="ri-user-5-fill"></i><br>
                About
            </a>
          </section>
          <section class="top-item">
            <a href="/contact/">
                <i class="ri-mail-fill"></i><br>
                Contact
            </a>
          </section>
          <section class="top-item">
            <a href="/assets/documents/ducharme_resume.pdf" target="_blank">
                <i class="ri-file-list-3-fill"></i><br>
                Resume
            </a>
          </section>
          <section class="github">
            <a href="{{ site.github.owner_url }}" target="_blank">
                <i class="ri-github-fill"></i><br>
                GitHub
            </a>
          </section>
          <section class="linked-in">
            <a href="https://www.linkedin.com/in/deyvahn/" target="_blank">
                <i class="ri-linkedin-box-fill"></i><br>
                LinkedIn
            </a>
          </section>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner">Programmed with ❤️️ by Devon Ducharme.</span>
      </footer>
    </main>
  </body>
</html>
